<div class="d-grid" id="home">

  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>
  <!-- END SIDEBAR -->


  <!-- PANTALLA -->
  <div class="container ">




    <!-- BUSQUEDA -->
    <div class="row p-3">
      <h5>Buscar:</h5>
      <input type="text" class="form-control" placeholder="Buscar Gifs..."/>
    </div>
    <!-- BUSQUEDA -->



    <hr/>


    <!-- GIFS -->
    <div class="row p-3 d-grid" id="gifs">
      <p>Lorem ipsum dolor, sit amet consect</p>
      <p>Lorem ipsum dolor, sit amet consect</p>
      <p>Lorem ipsum dolor, sit amet consect</p>
      <p>Lorem ipsum dolor, sit amet consect</p>
      <p>Lorem ipsum dolor, sit amet consect</p>
      <p>Lorem ipsum dolor, sit amet consect</p>
      <p>Lorem ipsum dolor, sit amet consect</p>
    </div>
    <!-- END GIFS -->



  </div>
  <!-- END PANTALLA -->

</div>