/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}


#home {
    grid-template-columns: .2fr .8fr;
}

#gifs {
    gap: 5em;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
